footer{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #143F6B;
    gap: 40px;
    padding: 30px 0px;
}

.footer-tittle, .aboutus{
    color: #FFD24C;
    
}

.footer-tittle{
    font-size: 55px;
    font-weight: bold;
}

.aboutus-container{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.aboutus-tittle{
    margin-bottom: 15px;
    font-size: 25px;

}
.aboutus-desc{
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
    
}

.contactfooter{
   
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
   
    /* column-gap: 100px; */
  
}

.contactfooter p{
    cursor: pointer;
}
.contactfooter p:hover{
    color: #15133C;
}
